<header >
    <nav class="px-sm-1 ">
            <div class="logo  ps-sm-5 ps-md-5 " >
              <div class="top-container">
                 <span class="top-span">Einfach&#9702;mutig&#9702;sein</span>
              </div>
              <div class="bottom-container">
                <span class="bottom-span">Christa &#8226; Schulz</span>
              </div>
            </div>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a href="#home_page">Home</a></li>
                <li><a href="#about_me">Über mich</a></li>
                <li><a href="index-2.html">Lerncoaching</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Kontakt</a></li>
            </ul>

    </nav>
</header>
