<div class=" footer-container  ">
    <div class="container d-flex flex-column w-100 h-100 ">
        <div class="footer-t-container">
            <div class="row h-100">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="text-container text-center">
                     <h5>So erreichen sie mich</h5>
                     <p>Christa Schulz</p>
                     <p>Einfach-mutig-sein</p>
                     <p>Hagenstraße 1212</p>
                     <p>57439 Attendorn</p>
                     <br>
                     <p>Telefon: 12345643</p>
                     <p>Mail: einfach-mutig-sein@gmx.com</p> 
                  </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4 ">
                  <div class="text-center text-container">
                    <h5>Über mich</h5>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna kejfiwejfiwjefiwfjreifwioiwmfiwmrifreofmiwfiomewmfpwemfp.</p>

                  </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="nav-container d-flex flex-column justify-content-center align-items-center">
                    <h5>Navigation</h5>
                    <a href="">Home</a>
                    <a href="">Über mich</a>
                    <a href="">Lerncoaching</a>
                    <a href="">Blog</a>
                    <a href="">Kontakt</a>
                  </div>
                </div>
            </div>


        </div>
        <div class="footer-b-container d-block">

        </div>
    </div>

</div>
