.quote-container{

    background-color: antiquewhite;
    height: auto;
    h1{
        margin-bottom: 0px;
    }
}
.about-me-container{
    
   
   padding-left: 10%;
   padding-right: 10%;

    .about-me-container{
        width: 100%;
        height: fit-content;
         
        border-bottom: 3px solid blue;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        .container-i{
            padding-right: 0px;
        .about-image-container{
           .second-img-container{
              height: auto;
              width: auto;
  
              img{
                 height: 100px;
                 width: 10px;
              }
             
           }
         
        }
     } 
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

 }